@mixin background-degraded-right($color1:#4A00E0, $color2:#8E2DE2) {
    background: $color1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, $color1, $color2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $color1, $color2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin min-width-change($breakpoint){
    @media screen and (min-width: $breakpoint){
        @content;
    }
}

@mixin max-width-change($breakpoint){
    @media screen and (max-width:$breakpoint){
        @content;
    }
}
  